{{define "lienhe_body"}}
<div class="container">
  <style type="text/css">.error {color: red;}</style>
  <h1>Contact</h1>
  <form action="/lienhe" method="POST" novalidate>
    <div>
      {{ with .Errors.ViewerName }}
      <p class="error">{{ . }}</p>
      {{ end }}
      <p><label>Your name:</label></p>
      <p><input type="text" name="ViewerName" value="{{ .ViewerName }}"></p>
    </div>

    <div>
      {{ with .Errors.Email }}
      <p class="error">{{ . }}</p>
      {{ end }}
      <p><label>Your email:</label></p>
      <p><input type="email" name="Email" value="{{ .Email }}"></p>
    </div>

    <div>
      {{ with .Errors.Phone }}
      <p class="error" >{{ . }}</p>
      {{ end }}
      <p><label>Your phone number:</label></p>
      <p><input type="tel" name="Phone" value="{{ .Phone }}"></p>
    </div>

    <div>
      <input type="submit" value="Send message">
    </div>
  </form>
</div>
{{end}}
    