{{define "header"}}
<header class="header">
    <a href="/" class="logo">
        <img src="/public/images/logo.png">        
    </a>
    <nav class="navigation">
        <ul class="navigation__items">
            <li class="navigation__item">
                <a href="/gioithieu">Giới Thiệu</a>
            </li>
            <li class="navigation__item">
                <a href="/dichvu">Dịch Vụ</a>
            </li>
            <li class="navigation__item">
                <a href="/tintuc">Tin Tức</a>
            </li>
            <li class="navigation__item">
                <a href="/lienhe">Liên Hệ</a>
            </li>
            <li class="navigation__item">
                <a href="/login">Đăng Nhập</a>
            </li>
        </ul>
    </nav>
    <div class="contact">
        <div class="phone">

        </div>
        <div class="form">

        </div>
    </div>
</header>

{{end}}