{{define "home_body"}}
<main>    
    <div class="home_container">
        <section class="hero__text">
            <p class="salutation salutation--bg">
                <span class="salutation__greeting">{{.BusinessName}}</span>
                <span class="salutation__message">{{.Slogan}}</span>
            </p>
            <!-- <div class="js-container"></div> -->
        </section>
    </div>
    <div class="about_us">
        
    </div>
    <div class="news">

    </div>
    <div class="contact_us">

    </div>
</main>

<script type="text/javascript" src="/public/scripts/main.js"></script>
{{end}}