{{define "login_body"}}
<div class="container">
  <style type="text/css">.error {color: red;}</style>
  <h1>Đăng Nhập</h1>
  <form action="/login" method="POST" novalidate enctype="application/x-www-form-urlencoded">
    <div>

      <p><label>Tên Đăng nhập:</label></p>
      <p><input type="text" name="Username" value="{{ .Username }}" required></p>

      {{ with .Errors.UsernameLogin }}
      <p class="error">{{ . }}</p>
      {{ end }}
    </div>

    <div>
      <p><label>Mật khẩu:</label></p>
      <p><input type="password" name="Password" value="{{ .Password }}" required></p>
      {{ with .Errors.PasswordLogin }}
      <p class="error">{{ . }}</p>
      {{ end }}
    </div>

    <div>
      <input type="submit" value="Login">
    </div>
  </form>
  <p>Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p>
</div>
{{end}}
