{{define "register_body"}}
<div class="container">
  <style type="text/css">.error {color: red;}</style>
  <h1>Đăng Ký</h1>
  <form action="/register" method="POST" novalidate enctype="application/x-www-form-urlencoded">
    <div>

      <p><label>Vui lòng điền Email của bạn:</label></p>
      <p><input type="email" name="Username" value="{{ .Username }}" required></p>

      {{ with .Errors.UsernameRegister }}
      <p class="error">{{ . }}</p>
      {{ end }}
    </div>

    <div>
      <p><label>Vui lòng điền mật khẩu:</label></p>
      <p><input type="password" name="Password" value="{{ .Password }}" required></p>
      {{ with .Errors.PasswordRegister }}
      <p class="error">{{ . }}</p>
      {{ end }}
    </div>

    <div>
      <input type="submit" value="Register">
    </div>
  </form>
</div>
{{end}}
