{{define "community_body"}}
<h1>Communities Posts</h1>
<ul id="posts-list"></ul>
<script>
    const fetchNews = async () => {
        try {
            const response = await fetch('/api/v1/posts');
            const data = await response.json();
            console.log(data);
            if (data && data.news) {
                renderNews(data.posts);
            } else {
                console.error('News data not found in the response:', data);
            }
        } catch (error) {
            console.error('Error fetching news:', error);
        }
    }

    const renderNews = (posts) => {
        const newsList = document.getElementById('posts-list');
        news.forEach(item => {
            const listItem = document.createElement('li');
            listItem.innerHTML = `
                <h2>${item.Title}</h2>
                <h3>Community: ${item.communityName}</h3>
                <p>${item.Article}</p>
                <img src="${item.Picture}" alt="${item.Title}">
                
            `;
            newsList.appendChild(listItem);
        });
    }

    fetchNews();
</script>
{{end}}